# OpenSSL configuration file for creating a CSR for a server certificate
# Adapt at least the COUNTRY, FQDN, ORGNAME and INSTITUTION lines, and then run 
# openssl req -new -config myserver.cnf -keyout myserver.key -out myserver.csr
# on the command line.

# The fully qualified server (or service) name
# For wildcard certificates add a * in front of the domain. Please use with care, 
# as there are some serious issues with this wildcard certificates.
FQDN = {{ fqdn }}

# The two-letter abbreviation of your country, e.g. 
# See also https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements
COUNTRY = {{ country_code }}

# The name of your NREN (e.g. RENU, MAREN, etc.)
# See also https://www.ubuntunet.net/members
ORGNAME = {{ organisation.name }}

# subjectAltName entries: to add DNS aliases to the CSR, delete
# the '#' character in the ALTNAMES line, and change the subsequent
# 'DNS:' entries accordingly. Please note: all DNS names must
# resolve to the same IP address as the FQDN.
ALTNAMES = DNS:$FQDN   # , DNS:bar.example.org , DNS:www.foo.example.org

# --- no modifications required below ---
[ req ]
default_bits = 2048
prompt = no
encrypt_key = no
distinguished_name = dn
req_extensions = req_ext

[ dn ]
C = $COUNTRY
O = $ORGNAME

CN = $FQDN

[ req_ext ]
subjectAltName = $ALTNAMES