<?xml version="1.0" encoding="UTF-8"?>
<!--
  Deployers should refer to the documentation for a complete list of components
  and their options.
  https://wiki.shibboleth.net/confluence/display/IDP30/AttributeFilterConfiguration
  https://wiki.shibboleth.net/confluence/display/SHIB2/IdPAddAttributeFilter
-->
<AttributeFilterPolicyGroup id="ShibbolethFilterPolicy"
        xmlns="urn:mace:shibboleth:2.0:afp"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="urn:mace:shibboleth:2.0:afp http://shibboleth.net/schema/idp/shibboleth-afp.xsd">


    <!-- Release some attributes to an SP. -->
    <AttributeFilterPolicy id="release_to_one_sp">
        <PolicyRequirementRule xsi:type="Requester" value="{{ sp_entity_id }}" />

        <AttributeRule attributeID="eduPersonPrincipalName">
            <PermitValueRule xsi:type="ANY" />
        </AttributeRule>

        <AttributeRule attributeID="mail">
            <PermitValueRule xsi:type="ANY" />
        </AttributeRule>

        <AttributeRule attributeID="cn">
          <PermitValueRule xsi:type="ANY"/>
        </AttributeRule>

        <AttributeRule attributeID="sn">
          <PermitValueRule xsi:type="ANY"/>
        </AttributeRule>

        <AttributeRule attributeID="givenName">
          <PermitValueRule xsi:type="ANY"/>
        </AttributeRule>

        <AttributeRule attributeID="displayName">
          <PermitValueRule xsi:type="ANY"/>
        </AttributeRule>

        <AttributeRule attributeID="schacGender">
          <PermitValueRule xsi:type="ANY"/>
        </AttributeRule>
 
        <AttributeRule attributeID="schacHomeOrganization">
          <PermitValueRule xsi:type="ANY"/>
        </AttributeRule>
 
        <AttributeRule attributeID="schacHomeOrganizationType">
          <PermitValueRule xsi:type="ANY"/>
        </AttributeRule>
 
       <AttributeRule attributeID="uid">
          <PermitValueRule xsi:type="ANY"/>
        </AttributeRule>
 
     </AttributeFilterPolicy>


    <!-- Release displayName to two specific SPs -->
    <!-- 
    <AttributeFilterPolicy id="releaseToMultipleSPs">
        <PolicyRequirementRule xsi:type="OR">
            <Rule xsi:type="Requester" value="{{ sp_entity_id }}" />
            <Rule xsi:type="Requester" value="https://crm.example.net/shibboleth" />
        </PolicyRequirementRule>

        <AttributeRule attributeID="displayName">
            <PermitValueRule xsi:type="ANY" />
        </AttributeRule>
    </AttributeFilterPolicy>
    -->

    <!-- Release displayName to any SP in your federation -->
    <!-- 
    <AttributeFilterPolicy id="releaseToAnySpInYourFederation">
      <PolicyRequirementRule
         xsi:type="InEntityGroup"
         groupID="unida-test.ubuntunet.net"/>

        <AttributeRule attributeID="displayName">
            <PermitValueRule xsi:type="ANY" />
        </AttributeRule>
    </AttributeFilterPolicy>
    -->


    <!-- Release displayName to anyone NOT RECOMMENDED -->
    <!-- 
    <AttributeFilterPolicy id="releaseToAnyone">
     
      <PolicyRequirementRule xsi:type="ANY"/>
     
      <AttributeRule attributeID="displayName">
        <PermitValueRule xsi:type="ANY"/>
      </AttributeRule>
    </AttributeFilterPolicy>
    -->



</AttributeFilterPolicyGroup>