idp.logo = /images/{{ idp.logo|default('logo-default.png', true)}}
idp.footer = &copy; {{ ansible_date_time.year }} {{ organisation.name }} | Questions? {{ support_email }}
root.footer = &copy; {{ ansible_date_time.year }} {{ organisation.name }} | Questions? {{ support_email }}